/*//////////////////// Main-content  //////////// */
* { 
  box-sizing: inherit;
  font-family: 'Hepta Slab', serif;
}
.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 550px;
}

.toni-container {
  display: flex;
  width: 100%;
}

.toni-item {
  background-color: #8B0000;
  width: 30%;
  margin: 1em;
  text-align: center;
}

section h3 {
  color: #e9ecef;
  font-size: 35px;
}

.toni-item ul li {
  list-style-type: none;
  color: gold;
  margin: 1em;
}


/* main navigation */
header {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgba(245, 134, 52, 1);
  color: black;
  padding-left: 1%;
}

h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 70%;
    text-align: center;
    align-items: center;   
}

header h1 {
    font-size: 2em;    
}

.nav_link {
    font-size: 1.5em;
    
}
    
.footerPage{ /* Footer CSS for all pages */
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.personalHeader{ /* h1 for personal.html */
    text-align: center;
}

.divPersonalDateList{ /* css for each list of date and place */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.personalDiv{ /* contains each personal date list */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
